.App {
  background-color: grey;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;

  justify-content: space-between;    

  color: white;
}

.logo-div {
  color: white;
  cursor: pointer;
}

.logo-div:hover {
  color: wheat;
}

.nav-items-wrapper{
  display: flex;
  align-items: center;
  width: 40%;
}

.nav-items {
  text-decoration: none;
  display: flex;
  color: gray;
  margin: 10px;
  justify-content: flex-end;
  cursor: pointer;
}

.nav-items:hover{
  color: wheat;
}

.wrapper-landing-text{
  width: 50%;
}

#footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;
  background: darkgray;
  text-align: center;
}