.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.centerText {
  color: white;
  /* align-items: center; */
  /* text-align: center;   */
}

.nav-items {
  /* background-color: orange; */
  display: flex;
  color: gray;
  padding: 10px;
  font: u;
  justify-content: flex-end;
}