
ul {
    background: linear-gradient(90deg,#d1aad7,#c88bc4 25.17%,#7b8fdd 50%,#86bff2 73.09%,#bbdef2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
#footer{
bottom:0;
width:100%;
height:30px;
background: darkgray;
text-align: center;
}
